@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayUILayout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline ">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="uloginName" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="urealName" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div> 
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <select name="ugender">
                            <option value="">请选择</option>
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="">请选择</option>
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="setRole">分配角色</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
            </div>
            <table id="LAY-app-list" lay-filter="LAY-app-list"></table>
            <script type="text/html" id="StatusTpl">
                {{#  if(d.Status==0){ }}
                <button class="layui-btn layui-btn-xs">启用</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
                {{#  } }}
            </script>
            <script type="text/html" id="GenderTpl">
                {{#  if(d.UGender==0){ }}
                <i class="layui-icon layui-icon-female" style="color: #FF5722;font-weight: bold" title="女"></i>
                {{#  } else { }}
                <i class="layui-icon layui-icon-male" style="color: #1E9FFF;font-weight: bold" title="男"></i>
                {{#  } }}
            </script> 
            <script type="text/html" id="table-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        layui.use(['form', 'table'],
            function () {
             var table = layui.table
             ,util=layui.util
            , form = layui.form;
        //Table定义
        table.render({
            elem: "#LAY-app-list",
            url: "@Url.Action("List","UserInfo")"
            ,request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,cols: [[
                { type: "checkbox", fixed: "left" }
                , { field: "ULoginName", width: 150, title: "用户名" }
                , { field: "URealName", title: "真实姓名", minWidth: 100 }
                , { field: "UTelphone", title: "电话" }
                , { field: "UMobile", title: "手机号" }
                , { field: "UEmail", title: "Email",minWidth:200 }
                , { field: "UQQ", title: "QQ" }
                , { field: "UGender", title: "性别" , templet: "#GenderTpl", width:60, align: "center"}
                , { field: "UDepID", title: "所属部门" }
                , { field: "CreatedTime", title: "创建时间", templet: function (d) {return util.toDateString(d.CreatedTime,"yyyy-MM-dd")} , sort: !0 }
                , { field: "Remark", title: "备注" }
                , { field: "Status", title: "状态", templet: "#StatusTpl", width: 80, align: "center" }
                , { title: "操作", minWidth: 150, align: "center", fixed: "right", toolbar: "#table-list" }
            ]]
            , page: true
            ,limit: 10
            ,limits: [10, 15, 20, 25, 30]
        });
        //监听工具条
        table.on("tool(LAY-app-list)", function (t) {
            var data = t.data;
            if (t.event === "del") {
                layer.confirm("确定删除此记录？", function (e) {
                    var ids = [];
                    ids.push(data.ObjectID);
                    $.ajax({
                        url: '@Url.Action("Delete", "UserInfo")',
                        type: 'POST',
                        data: { ids:  JSON.stringify(ids)},
                        dataType: 'json',
                        success: function(data) {
                            debugger;
                            if (data.Success) { 
                                //表格删除
                                t.del();
                                //关闭弹窗
                                layer.close(e);
                            } else {
                                layer.msg(data.Message, {icon: 5});
                            }
                        }
                    });
                });
            } else if (t.event === "edit") {
                layer.open({
                    type: 2,
                    title: "编辑",
                    content: "@Url.Action("Form","UserInfo")?objectId=" + data.ObjectID,
                    maxmin: !0,
                    area: ['60%', '95%'],
                    btn: ["确定", "取消"],
                    yes: function (e, i) {
                        var l = window["layui-layer-iframe" + e],
                            a = i.find("iframe").contents().find("#layuiadmin-app-form-edit");
                        l.layui.form.on("submit(layuiadmin-app-form-edit)",
                            function (i) {
                                debugger
                                //获取新开窗口的form
                                var field = i.field;

                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                $.ajax({
                                    url: '@Url.Action("Form", "UserInfo")',
                                    type: 'POST',
                                    data: field,
                                    dataType: 'json',
                                    success: function(data) {
                                        debugger;
                                        if (data.Success) {

                                            //更新表格记录
                                            t.update({ 
                                                URealName: field.URealName,
                                                UTelphone: field.UTelphone,
                                                UMobile: field.UMobile,
                                                UEmail: field.UEmail,
                                                UQQ: field.UQQ,
                                                UGender: field.UGender,
                                                UDepID: field.UDepID,
                                                Remark: field.Remark,
                                                Status: field.Status
                                            });
                                            //清空form
                                            form.render();
                                            //关闭弹窗
                                            layer.close(e);
                                        } else {
                                            layer.msg(data.Message, {icon: 5});
                                        }
                                    }
                                });
                            }), a.trigger("click");
                    }
                });
            }
        });

        //监听搜索
        form.on('submit(LAY-app-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-app-list', {
                where: field
            });
        });
        //顶部按钮
        var $ = layui.$, active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-app-list')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm('确定删除吗？', function (index) {
                    var ids = [];
                    $.each(checkData,
                        function(index, value) {
                            ids.push(value['ObjectID']);
                        }); 
                    //执行 Ajax 后重载
                    $.ajax({
                        url: '@Url.Action("Delete", "UserInfo")',
                        type: 'POST',
                        data: { ids: JSON.stringify(ids) },
                        dataType: 'json',
                        success: function(data) {
                            debugger;
                            if (data.Success) {
                                table.reload('LAY-app-list');
                                layer.msg(data.Message, {icon: 6});
                            } else {
                                layer.msg(data.Message, {icon: 5});
                            }
                        }
                    });
                }); 
            },
            add: function () {
                layer.open({
                    type: 2
                    , title: '添加'
                    , content: '@Url.Action("Form","UserInfo")'
                    , maxmin: true
                    , area: ['60%', '95%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
                        submit.click();
                    }
                });
            },
            setRole: function() {
                var checkStatus = table.checkStatus('LAY-app-list')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length !== 1) {
                    return layer.msg("只能选择一个用户分配角色!", {icon: 5});
                }
                debugger
                var user = checkData[0];
                layer.open({
                    type: 2
                    , title: '【'+user.URealName+'】分配角色'
                    , content: '@Url.Action("SetRole","UserInfo")?userId='+user.ObjectID
                    , maxmin: true
                    , area: ['60%', '95%']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
                        submit.click();
                    }
                }); 
            } 
        };

        $('.layui-btn.layuiadmin-btn-list').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    </script>
}
