<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - LJD.App.Web</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="@Url.Content("~/lib/layui/css/layui.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/lib/adminlte/dist/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/lib/adminlte/dist/css/ionicons.min.css")">
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
</head>
<body style="margin: 15px 0;">

    @RenderBody()


    <script src="@Url.Content("~/lib/layui/layui.js")"></script>


    @RenderSection("scripts", required: false)


</body>
</html>